/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO AZUL ESCURO */
body {
  height: 100vh;
  background: linear-gradient(135deg, #0a3d91, #0f5bd3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: fixed;
  top: 20px;
  left: 25px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

/* VALITY grande arredondado */
.logo-main {
  color: white;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

/* CONTROL pequeno */
.logo-sub {
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

/* CENTRALIZA */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD TRANSPARENTE (GLASS) */
.card {
  width: 320px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

  color: white;
}

/* TÍTULO */
.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* LABEL */
.card label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

/* INPUT */
.card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;

  border-radius: 8px;
  border: none;
  outline: none;
}

/* ESQUECEU SENHA */
.forgot {
  font-size: 12px;
  color: #cfe3ff;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-bottom: 15px;
}

/* BOTÃO PRINCIPAL */
.btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #0b2f6b;
  color: white;
  margin-bottom: 15px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #082452;
}


/* BOTÃO SECUNDÁRIO */
.btn-secondary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: white;
  color: #0a3d91;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #e6e6e6;
}